<div class="flex-none inline-block text-2xl font-medium">
  <%= link_to root_path do %>
    <p class="underline hover:bg-gray-100">iTems Store</p> <%= t('.date') %>: <i class="text-amber-700"><%= Date.today %></i>
  <% end %>

  <%= link_to t('.add'), new_product_path, class: 'font-normal border-b border-cyan-400 hover:bg-cyan-200 block' %>
  <%= link_to t('.categories'), categories_path, class: 'font-normal border-b border-cyan-400 hover:bg-teal-200 block' %>
</div>