<div class="flex-none inline-block text-2xl font-medium">
  <%= link_to root_path do %>
    <p class="underline hover:bg-gray-100"> <%= t('app_name') %> </p> <%= t('.date') %>: <i class="text-amber-700"><%= DateTime.now %></i>
  <% end %>

  <%= link_to t('.add'), new_product_path, class: 'font-normal border-b border-cyan-400 hover:bg-cyan-200 block' if Current.user %>
  <%= link_to t('.categories'), categories_path, class: 'font-normal border-b border-cyan-400 hover:bg-teal-200 block' if Current.user  %>

  <%= link_to t('.login'), new_session_path, class: 'font-normal border-b border-cyan-400 hover:bg-teal-200 block underline' unless Current.user  %>
  <%= link_to t('.sign_up'), new_user_path, class: 'font-normal border-b border-cyan-400 hover:bg-teal-200 block underline' unless Current.user  %>

  <%= link_to t('.logout'), session_path(Current.user.id), data: { turbo_method: :delete, turbo_confirm: t('common.confirm')} , class: 'font-normal border-b border-cyan-400 hover:bg-red-200 block underline' if Current.user %>
</div>