<%= form_with model: product do |form| %>
  <% product.errors.full_messages.each do |error| %>
    <p class="block text-red-400"><%= error %></p>
  <% end %>

  <%= form.label :title, class: 'text-semibold block' %>
  <%= form.text_field :title %>

  <%= form.label :description, class: 'text-semibold block' %>
  <%= form.text_area :description %>

  <%= form.label :price, class: 'text-semibold block' %>
  <%= form.number_field :price %>

  <%= form.label :photo, class: 'text-semibold block' %>
  <%= form.file_field :photo %>

  <%= form.label :category_id, class: 'text-semibold block' %>
  <%= form.collection_select :category_id, @categories, :id, :name unless @categories.blank? %>  

  <%= form.submit 'enviar', class: "block uppercase mt-6 bg-emerald-100 hover:bg-emerald-200 p-3 rounded-full cursor-pointer" %>
<% end %>