<%= link_to product_path(product.id), class: 'product pb-2 border-b border-b-blue-200', 'data-turbo-frame': '_top' do %>
  <%= image_tag product.photo, width: 100 if product.photo.attached? %>
  <div class="m-2">
    <h2 class="text-xl"><strong class="text-cyan-500 underline"><%= product.title %></strong></h2>
    <p class="text-lg  mb-2">
      <strong>Price: </strong><%= product.price %>
    </p>
    <p class="text-gray-500 text-sm"><%= product.description %></p>
  </div>
<% end %>
