<%= turbo_frame_tag 'home' do %>
  <div>
    <h1 class="mt-5 font-bold text-4xl"><%= t('.title') %></h1>
    
    <%= form_with url: products_path, class: 'my-5', method: :get do |form| %>
      <%= form.text_field :query_text, class: 'rounded-lg', placeholder: t('.query_text'), onchange: 'this.form.requestSubmit()', value: params[:query_text]  %>
      <%= form.number_field :min_price, class: 'rounded-lg bg-gray-100 border-blue-500', placeholder: t('.min_price'), onchange: 'this.form.requestSubmit()', value: params[:min_price] %>
      <%= form.number_field :max_price, class: 'rounded-lg bg-gray-100 border-blue-500', placeholder: t('.max_price'), onchange: 'this.form.requestSubmit()', value: params[:max_price] %>
      <%= form.select :order_by, options_for_select(
        Product::ORDER_TYPE.keys.map { |order| [t(".#{order}"), order] }, params[:order_by]),
        { include_blank: t('.selection')}, { class: 'rounded-lg', onchange: 'this.form.requestSubmit()', value: params[:max_price] } %>
    <% end %>

    <%= render partial: 'category', collection: @categories %>
    
    <%= link_to t('.all'), products_path, class: 'underline mx-5 text-blue-800 inline' %>
    
    <%= turbo_frame_tag "products-#{@pagy.page}", class: 'products mt-3' do %>
      <%= render partial: 'product', collection: @products %>
      <%= turbo_frame_tag "products-#{@pagy.next}", class: 'products', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next %>
    <% end %>
  </div>
<% end %>

